[Unit]
Description=My cool script for taking pictures
# Note this requires enabling: sudo systemctl enable --now systemd-time-wait-sync.service
After=time-sync.target
Requires=time-sync.target

[Service]
Type=oneshot
WorkingDirectory=/home/roberto/damp-cam/
ExecStart=/usr/bin/python3 take-picture.py
User=roberto
